<h1>Site#index</h1>
<p><%= "Current version of DharajoshiFirstGem gem is :: #{DharajoshiFirstGem::VERSION}" %></p>

<%= image_tag("24.jpg", :class => "image_zoomer") %>
<%= image_tag("34.jpg", :class => "image_zoomer") %>
<%= image_tag("38.jpeg", :class => "image_zoomer") %>
